h1 {
  margin-left: 50px;
}

#player-1-wins {
  display: none;
}

#player-2-wins {
  display: none;
}

#draw {
  display: none;
}

#player-turn {
  display: inline-block;
  position: absolute;
  font-size: 20px;
  font-weight: 550;
}